*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    margin-left: 600px;
    color: white;
}
.main{
    background-color:rgb(42, 31, 37);
    padding: 100px;
    height: 800px; 
     
}
.form{
    background-color:rgb(232, 160, 197);
    border: solid 2px rgb(74, 121, 229);
    border-radius: 5px;
    padding: 50px;
    margin-top: 20px;
    padding: 40px;
    margin-left: 450px;
    height: 400px;
    width: 400px;
}
.data{
    float: right;
}

.submit{
    background-color: green;
    color: white;
    width: 50px;
}
.reset{
    background-color: red;
    color: white;
    width: 50px;
}
center{
    margin-top: 40px;
}
marquee{
    color: red;
    margin-bottom: 20px;
}
